<style>
    table, th, td {
        border: 1px solid black;
    }
</style>
<div style="direction: rtl">
<h1 id="הקונצרטו-הבארוקי-הוא-זאנר-תזמורתי-המופיע-סמוך-לתחילת-המאה-ה-18.">הקונצ'רטו הבארוקי הוא ז'אנר תזמורתי המופיע סמוך לתחילת המאה ה-18.</h1>
<p>שני דגמים מרכזיים:</p>
<p>קקק ניסיון לתיבת טקסט קקק</p>
<ol type="1">
<li><p>הדגם <em>הרומאי</em> – 12 <strong>הקונצ'רטו גרוסו</strong> מאת <strong>ארכאנג'לו קורלי</strong>.</p></li>
<li><p>הדגם <em>הוונציאני</em> – ובו יצירות קונצ'רטו מאת <strong>אנטוניו ויוואלדי</strong>.</p></li>
</ol>
<h2 id="בשני-הדגמים-התזמורת-נחלקת-לשתי-קבוצות">בשני הדגמים התזמורת נחלקת לשתי קבוצות:</h2>
<ol type="1">
<li><p>קבוצת <strong>הקונצ'רטינו</strong> הקטנה יותר מכילה למעשה את כלי ה<strong>סולו</strong> ביצירה.</p></li>
<li><p>קבוצת <strong>הריפיאנו ripieno</strong> כוללת את התזמורת המלאה (כולל הסולנים) או ה<strong>טוטי tutti</strong>.</p></li>
</ol>
<p>כתב מעל 500 יצירות בצורת הקונצ'רטו, וכולן בנויות על עיקרון הניגוד שבין ה<strong>טוטי</strong> – תזמורת כלי הקשת המלאה, ובין ה<strong>סולו</strong> – הנגן הבודד או קבוצת הנגנים.</p>
<p>אחד הקבצים המפורסמים מאת ויוואלדי – 12 קונצ'רטים להרכבים שונים בשם L'estro armonico ("ההשראה ההרמונית"). הקונצ'רטו לשני כינורות בלה מינור הוא מס' 8 בקובץ.</p>
<p>בקונצ'רטו זה הקונצ'רטינו כולל 2 כינורות (סולו), והריפיאנו כולל כלי קשת: כינורות, ויולות, צ'לים וכן קבוצת הבאסו קונטינואו, הכוללת צ'מבלו.</p>
<p>הקונצ'רטו לשני כינורות מצטייר כז'אנר ביניים – בין ה<strong>קונצ'רטו גרוסו</strong> ובין ה<strong>קונצ'רטו לכלי-סולו</strong>. מצד אחד מדובר בקבוצה של סולנים לעומת תזמורת, ומן הצד השני היצירה כתובה כקונצ'רטו לסולן אחד, המתפצל לשני סולנים.</p>
<p><em>דגם כללי של הקונצ'רטו על פי ויוואלדי:</em></p>
<p>א. הקונצ'רטו כולל <strong>שלושה פרקים</strong> על פי הסדר <strong>מהיר-איטי-מהיר</strong>.</p>
<p>ב. התזמורת מכילה <strong>כלי קשת</strong> בלבד.</p>
<p>ג. הפרק הראשון נפתח בנגינת ה<strong>טוטי</strong> בקטע הקרוי בשם <span class="underline">ריטורנלו</span> <strong>ritornello</strong>. זהו הנושא המוזיקלי העיקרי של הפרק. הריטורנלו חוזר פעמים אחדות במהלך הפרק וגם מסיים אותו. הריטורנלו בנוי מפסוקים אחדים, כאשר כל חזרה מכילה לרוב רק חלק מן הפסוקים.</p>
<p>ד. בין קטעי <strong>הריטורנלו</strong> מושמעות אפיזודות, שבהן מובילים הסולנים. אלה הם קטעי <span class="underline">הסולו</span>. קטעי הסולו הם בעלי אופי וירטואוזי ולעיתים גם מזכירים פסוקים מתוך הריטורנלו.</p>
<p>ה. הריטורנלו <span class="underline">הפותח</span> <span class="underline">והריטורנלו המסיים</span> הם <strong>בסולם הטוניקה</strong>. קטעי הריטורנלו הפנימיים מופיעים בסולם הטוניקה או בסולמות קרובים: <strong>סולם הדומיננטה</strong> או <strong>סולם מקביל</strong>.</p>
<p>ו. <strong>הסקוונצות</strong> הן מרכיב חשוב ונפוץ מאוד ביצירותיו של ויוואלדי, הן בקטעי הטוטי והן בקטעי הסולו, ובדרך כלל אלה המקומות שבהם מתרחשות <strong>המודולציות</strong>.</p>
<p><em>מבנה היצירה</em></p>
<p><strong>הריטורנלו (תיבות 16-1)</strong></p>
<p>נחלק לשלושה פסוקים:</p>
<p>א. פסוק A: הוא המוטיב הראשי. לאחריו נמשך פסוק הארכה קצר שיסומן באות a.</p>
<p>ב. פסוק B : מעבר (או גשר), הבנוי כסקוונצות.</p>
<p>ג. פסוק C: הפסוק המסיים, המוביל אל קדנצה בלה מינור. למעשה אלה הם שני פסוקים נפרדים שיסומנו כ-C1 ו-C2.</p>
<p><strong>סולו ראשון (תיבות 22-16)</strong></p>
<p>נחלק לשני פסוקים</p>
<p>א. פסוק D: מוטיב חדש שלא הושמע בריטורנלו.</p>
<p>ב. סקוונצות הנגזרות מפסוק ההארכה a, שיסומנו פה כ-a'.</p>
<p><strong>טוטי שני (קדמה לתיבה 23 עד תיבה 26)</strong></p>
<p>כולל רק את C2 מתוך הריטורנלו, עדיין בסולם לה מינור.</p>
<p><strong>סולו שני (אמצע תיבה 24 עד תיבה 36)</strong></p>
<p>נחלק לקטעים הבאים:</p>
<p>א. מוטיב D בהיפוך תפקידים לעומת הסולו הראשון, כאשר הכינור השני משמיע את המלודיה.</p>
<p>ב. הסקוונצה על מוטיב a', שוב בהובלת הכינור השני.</p>
<p>ג. סדרה של סקוונצות על תבניות חופשיות בחלקי 16, במהלכן מתרחשת מודולציה אל סולם המז'ור המקביל – דו מז'ור.</p>
<table>
<thead>
<tr class="header">
<th>25-32</th>
<th>17-24</th>
<th>9-16</th>
<th>1-8</th>
<th>תיבה</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td>כמו חלק <strong>A'</strong></td>
<td><strong>B</strong></td>
<td><strong>A'</strong></td>
<td><strong>A</strong></td>
<td>חלק (Part)</td>
</tr>
<tr class="even">
<td></td>
<td><p><strong><em>ED</em>-----V</strong></p>
<p><strong>D-------F</strong></p></td>
<td><p><strong>I-------I</strong></p>
<p><strong>B-----B</strong></p></td>
<td><p><strong>I------V</strong></p>
<p><strong>B-----F</strong></p></td>
<td>תכנית טונלית</td>
</tr>
<tr class="odd">
<td></td>
<td>17 - 19 - 21 - 23</td>
<td>9 ---13 -- 15-16</td>
<td>1 ---- 5 --- 7 -- 8</td>
<td>תיבה</td>
</tr>
<tr class="even">
<td></td>
<td>D G C F</td>
<td>B E F B</td>
<td>B E Dm F</td>
<td>אזורי מטרה<a href="#fn1" class="footnote-ref" id="fnref1"><sup>1</sup></a></td>
</tr>
<tr class="odd">
<td></td>
<td>Extended Dominant</td>
<td>T SD D T</td>
<td>T SD T D</td>
<td>דרגה</td>
</tr>
</tbody>
</table>
<p><img src="./media/media/image1.jpeg" style="width:5.76806in;height:7.46458in" /></p>
<p><strong>טוטי שלישי (תיבות 47-37)</strong></p>
<p>נחלק לחמישה חלקים:</p>
<p>א. המשך התבניות החופשיות מן הסולו הקודם, והכרזה על הטוניקה דו מז'ור.</p>
<p>ב. מוטיב B בדו מז'ור, הבנוי אף הוא מסקוונצות.</p>
<p>ג. סדרה נוספת של סקוונצות על מוטיב דמוי סולם, שבמהלכן מתרחשת מודולציה אל לה מינור.</p>
<p>ד. מודולציה וקדנצה אל הסולם מי מינור. הכינורות השניים מחקים את הכינורות הראשונים.</p>
<p>ה. תיבה 47 – סקוונצה, שהיא קדנצה מפתיעה בסולם רה מינור.</p>
<p><strong>סולו שלישי (תיבות 51-48)</strong></p>
<p>כתוב לשני הכינורות הסולניים בלבד, בסולם רה מינור ועם נושא מלודי חדש.</p>
<p><strong>טוטי רביעי (תיבות 65-51)</strong></p>
<p>א. המוטיב הפותח A בסולם רה מינור.</p>
<p>ב. תיבת הארכה (55) ובעקבותיה הואריאנט a', עדיין ברה מינור.</p>
<p>ג. מוטיב C1 מן הריטורנלו, בלה מינור, וכן קדנצה לסולם זה.</p>
<p><strong>סולו רביעי</strong></p>
<p>מוטיב D.</p>
<p><strong>טוטי חמישי</strong></p>
<p>מוטיב A בסולם לה מינור.</p>
<p><strong>סולו חמישי</strong></p>
<p>וריאנט נוסף של a' במבנה של סקוונצות ובסולם לה מינור.</p>
<p><strong>טוטי שישי</strong></p>
<p>חזרה על מוטיבים a, B ו-C2 בסולם לה מינור.</p>
<p><strong>סולו שישי</strong></p>
<p>כתוב לשני הכינורות הסולניים בלבד, עם סקוונצות על מוטיב a'.</p>
<p><strong>טוטי שביעי ומסיים</strong></p>
<p>מוטיב C2.</p>
<section class="footnotes">
<hr />
<ol>
<li id="fn1"><p>אזורי מטרה הם מרכזים טונליים ולא אקורדים. אין צורך לסמן צלילי מתח (7) או מהלך הרמוני אלא רק את היעד ההרמוני.<a href="#fnref1" class="footnote-back">↩</a></p></li>
</ol>
</section>
</div>