<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width"/>
    <link rel="stylesheet" type="text/css" href="anthologyEmail.css">
</head>

<body>
<table class="body-wrap">
    <tr>
        <td class="container">

            <!-- Message start -->
            <table>
                <tr>
                    <td align="center" class="masthead">

                        <img src="https://bandpad.co/asserts/heBandpadMailLogo.png"
                             width="285"
                             height="55"
                             border="0"
                             alt="BandPad Logo">


                    </td>
                </tr>
                <tr>
                    <td>
                        {{innerHtml}}
                        <a href="https://anthology.org.il">לחצו לאתר האנתולוגיה</a>
                     </td>
                </tr>
            </table>

        </td>
    </tr>
    <tr>
        <td class="container">

            <!-- Message start -->
            <table>
                <tr>
                    <td class="content footer" align="center">
                        <p>מייל זה נשלח מהאתר <a href="#">קהילה מנגנת</a> רחוב צירלסון 4 משרד 10, טלפון 053-3222182</p>
                        <p><a href="mailto:amit@menagenet.co.il">amit@menagenet.co.il</a> | <a href="#">להסרה</a></p>
                    </td>
                </tr>
            </table>

        </td>
    </tr>
</table>
</body>
</html>
